<style>
  .card {
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 20px; /* Ajout d'une marge pour éviter le contact direct avec les bords de l'écran */
  }

  .card-header {
    background-color: #d8bfd8; /* Mauve plus foncé */
    color: white;
    border-bottom: none;
    padding: 10px;
    border-radius: 20px 20px 0 0; /* Arrondi des côtés en haut */
    text-align: center;
  }

  .card-body {
    padding: 20px;
  }

  .modal-footer {
    padding: 10px;
    border-top: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .btn-primary {
    background-color: #9370db; /* Mauve primaire */
    border-color: #9370db;
  }

  .btn-primary:hover {
    background-color: #7a5bbf;
    border-color: #7a5bbf;
  }

  .form-control:focus {
    border-color: #9370db;
    box-shadow: 0 0 5px rgba(147, 112, 219, 0.5);
  }

  .is-invalid {
    border-color: #dc3545;
  }

  .text-danger {
    color: #dc3545;
  }
</style>

<!-- Carte d'ajout du prospect -->
<div class="card">
  <div class="card-header">
    <h2>Ajouter un Prospect</h2>
  </div>
  <div class="card-body">
    

    <form (ngSubmit)="onSubmit()" #prospectForm="ngForm">
      <div class="form-group">
        <label for="name">Nom Complet du Prospect</label>
        <input
          type="text"
          id="name"
          class="form-control"
          required
          [(ngModel)]="prospect.name"
          name="name"
          #name="ngModel"
          [ngClass]="{ 'is-invalid': name.invalid && name.touched && showErrorMessages }"
        />
        <div *ngIf="name.invalid && name.touched && showErrorMessages" class="text-danger">
          Nom est requis.
        </div>
      </div>

      <div class="form-group">
        <label for="adresse">Adresse</label>
        <input
          type="text"
          id="adresse"
          class="form-control"
          required
          [(ngModel)]="prospect.adresse"
          name="adresse"
          #adresse="ngModel"
          [ngClass]="{ 'is-invalid': adresse.invalid && adresse.touched && showErrorMessages }"
        />
        <div *ngIf="adresse.invalid && adresse.touched && showErrorMessages" class="text-danger">
          Adresse est requise.
        </div>
      </div>

      <div class="form-group">
        <label for="phone">Téléphone</label>
        <input
          type="text"
          id="phone"
          class="form-control"
          required
          [(ngModel)]="prospect.phone"
          name="phone"
          #phone="ngModel"
          [ngClass]="{ 'is-invalid': phone.invalid && phone.touched && showErrorMessages }"
        />
        <div *ngIf="phone.invalid && phone.touched && showErrorMessages" class="text-danger">
          Téléphone est requis.
        </div>
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          class="form-control"
          required
          [(ngModel)]="prospect.email"
          name="email"
          #email="ngModel"
          [ngClass]="{ 'is-invalid': email.invalid && email.touched && showErrorMessages }"
        />
        <div *ngIf="email.invalid && email.touched && showErrorMessages" class="text-danger">
          Email est requis.
        </div>
      </div>

      <div class="form-group">
        <label for="identifiantClient">Identifiant Client</label>
        <input
          type="text"
          id="identifiantClient"
          class="form-control"
          required
          [(ngModel)]="prospect.identifiantClient"
          name="identifiantClient"
          #identifiantClient="ngModel"
          [ngClass]="{ 'is-invalid': identifiantClient.invalid && identifiantClient.touched && showErrorMessages }"
        />
        <div *ngIf="identifiantClient.invalid && identifiantClient.touched && showErrorMessages" class="text-danger">
          Identifiant Client est requis.
        </div>
      </div>

      <br/>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="onCancel()">Annuler</button>
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="prospectForm.invalid"
        >
          Ajouter
        </button>
      </div>
    </form>
  </div>
</div>
