<!-- Carte de visualisation des produits -->
<div class="card">
  <div class="card-header">
    <h2>Produits de la catégorie {{ data.categorieName }}</h2>
  </div>
  <div class="card-body">
    <div class="products-container">
      <div class="product-card" *ngFor="let produit of articles">
        <img [src]="getImageData(produit)" class="card-img-top" alt="Article Image">
        <div class="product-info">
          <span class="product-name">Désignation : {{ produit.designation }}</span>
          <span class="product-quantity">Quantité Disponible : {{ calculateQuantity(produit) }}</span>
          <span class="product-quantity">Prix Unitaire  : {{ produit.prixUnitaire }}</span>

        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="onClose()">Fermer</button>
  </div>
</div>
