/* success-modal.component.css */

.mat-dialog-title {
    display: flex;
    align-items: center;
    justify-content: center; /* Centrer horizontalement */
    font-size: 24px;
    font-weight: bold;
    color: #9941a1;
    margin-bottom: 20px; /* Espacement en bas */
  }
  
  .mat-dialog-title .material-icons {
    margin-right: 10px;
    font-size: 4rem; /* Taille du symbole */
    color: #4CAF50; /* Couleur verte */
  }
  
  .mat-dialog-content {
    text-align: center; /* Centrer le contenu */
  }
  
  .animated-icon {
    animation: bounceIn 1s;
  }
  
  @keyframes bounceIn {
    0%,
    20%,
    40%,
    60%,
    80%,
    100% {
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
      opacity: 0;
      transform: scale3d(0.3, 0.3, 0.3);
    }
    20% {
      transform: scale3d(1.1, 1.1, 1.1);
    }
    40% {
      transform: scale3d(0.9, 0.9, 0.9);
    }
    60% {
      opacity: 1;
      transform: scale3d(1.03, 1.03, 1.03);
    }
    80% {
      transform: scale3d(0.97, 0.97, 0.97);
    }
    100% {
      opacity: 1;
      transform: scale3d(1, 1, 1);
    }
  }
  
  .mat-dialog-actions {
    justify-content: center; /* Centrer les actions horizontalement */
  }
  