<div class="crud-container">
  <div class="search-container">
    <i class="fas fa-search search-icon"></i>
    <input 
      type="text" 
      placeholder="Rechercher une catégorie..." 
      class="search-input" 
      [(ngModel)]="searchTerm" 
      (input)="filterCategories()"
    />
  </div>
  
  <div class="card add-category-card" (click)="openAddDialog()">
    <div class="card-content">
      <!-- Icône d'ajout grande et centrée -->
      <i class="fa fa-plus-circle add-icon" aria-hidden="true"></i>
      <span class="card-title">Ajouter Catégorie</span>
    </div>
  </div>
  
  <br/>

  <div class="card-container">
    <div class="card" *ngFor="let categorie of filteredCategories">
      <span class="card-title">{{ categorie.name }}</span>
      <img [src]="getImageData(categorie)" class="circular-image" alt="{{categorie.name}}">
      <div class="card-content">
        <div class="card-actions">
          <button class="edit-button" (click)="editCategorie(categorie)">
            <i class="fa fa-pencil" ></i>
          </button>
          <button class="delete-button" (click)="deleteCategorie(categorie)">
            <i class="fas fa-trash-alt"></i>
          </button>
          
        </div>
        <br/>
        <button class="view-products-button" (click)="viewProducts(categorie)">
          Voir les produits
        </button>
      </div>
    </div>
  </div>
</div>
